@font-face {
  font-family: "DS-DIGI";
  src: url("./assets/fonts/DS-DIGI.TTF");
}

@font-face {
  font-family: "Yeongdeok Sea";
  src: url("./assets/fonts/Yeongdeok Sea.ttf");
}

.font-digi {
  font-family: "DS-DIGI";
}

.font-yd-sea {
  font-family: "Yeongdeok Sea";
}

body {
  margin: 50;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

main {
  max-width: 1280px;
  margin: auto;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.849)1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
  color: white;
  margin-top: 50px;
}
